.fetch-api-app {

    .app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    h1 {
      position: absolute;
      top: 50px;
    }

    section {
      background-color: rgb(219, 242, 242);
      width: 400px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      margin-bottom: 20px;
    }
  }
