.game-app {
    flex-direction: column;

    .app{
        width: 600px;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .game-title {
        margin-bottom: 3rem;
    }

    .board-grid {
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }

    .square {
        background: #fff;
        border: 1px solid #999;
        border-radius: 5px;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        text-align: center;
        width: 100px;
        height: 100px;
        outline: none;
        cursor: pointer;
        transition: transform .1s ease-in-out;

        &:hover {
            transform: scale(.97);
        }
    }

    .kbd-navigation .square:focus {
        background: #ddd;
    }

    .game {
        display: flex;
        flex-direction: row;
    }

    .game-info {
        margin-left: 40px;
        margin-top: 10px;
        width: 170px;

        .status {
            margin-bottom: 1.5rem;
        }

        li {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 20px;
            line-height: 2rem;
            padding-left: 13px;
            margin-bottom: 3px;
            transition: transform .05s ease-in-out;

            &:hover {
                transform: scale(.97);
                background-color: rgba(0, 0, 0, 0.036);
            }
        }
    }
}