.ticTacToe.app-container {
    flex-direction: column;

    .app{
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .game-title {
        margin-bottom: 3rem;
    }

    .board-grid {
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);

        .board-row {
            display: flex;
        }

        .square {
            background: #fff;
            border: 1px solid #999;
            border-radius: 5px;
            font-size: 34px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            outline: none;
            cursor: pointer;
            transition: all .1s ease-in-out;

            &:hover {
                transform: scale(.97);
            }
        }

        .square.winner {
            border: 5px solid pink;
        }
    }

    .remove-grid {
        display: block;
    }



    .game-info {
        margin-left: 40px;
        margin-top: 10px;
        width: 250px;

        .display {
            display: flex;
            justify-content: space-between;

            .status {
                margin-bottom: 1.5rem;
            }

            .sort-btn {
                width: 10px;
                height: 10px;
                border: 3px solid black;
                border-right: none;
                border-top: none;
                cursor: pointer;
                transition: transform .1s ease-in-out;
                transform: rotate(-45deg);

                &:hover {
                    animation: downArrow .5s ease-in-out infinite alternate;
                }
            }

            .sort-btn.up {
                transform: rotate(135deg);

                &:hover {
                    animation: upArrow .5s ease-in-out infinite alternate;
                }
            }

            @keyframes downArrow {
                0% {
                    transform: translateY(0px) rotate(-45deg);
                }
                100% {
                    transform: translateY(5px) rotate(-45deg);
                }
            }

            @keyframes upArrow {
                0% {
                    transform: translateY(0px) rotate(135deg);
                }
                100% {
                    transform: translateY(5px) rotate(135deg);
                }
            }
        }

        li {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 20px;
            line-height: 2rem;
            padding-left: 13px;
            margin-bottom: 3px;
            transition: transform .05s ease-in-out;

            &:hover {
                transform: scale(.97);
                background-color: rgba(0, 0, 0, 0.036);
            }
        }

        li.selected {
            background-color: rgb(244, 216, 166);
        }
    }
}